<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javatribe.lottery.mapper.LotteryMapper">
    <!--<resultMap id="userResultMap" type="org.javatribe.lottery.entity.Lottery">-->
        <!--<id column="id" property="id"></id>-->
        <!--<result column="nickname" property="nickname"></result>-->
        <!--<result column="openid" property="openid"></result>-->
        <!--<result column="head_img_url" property="headImgUrl"></result>-->
    <!--</resultMap>-->

    <insert id="insertLottery" parameterType="org.javatribe.lottery.entity.Lottery"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
        insert into t_lottery
        (user_id,create_time,item_id)
        values
        (#{userId},#{createTime},#{itemId});
    </insert>

    <!--<select id="queryUserByOpenid" resultMap="userResultMap">-->
        <!--select * from t_user-->
        <!--where-->
        <!--openid = #{openid}-->

    <!--</select>-->

</mapper>